body{
    background-color: black;
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
}
p{
   font-size: 2rem; 
}

.poster{
    width:40%;
    margin-left: 30%;
    margin-top: 100px;
    text-align: center;
    color:white;
    font-family: "Libre Baskerville",serif;

}
.motivation{
    border: 5px solid white;
    width: 100%;

}
